<h1>My Tasks</h1>

<% @tasks.each do |task| %>
  <input type="checkbox" name="" id="" <%= "checked" if task.completed == true %>> <h3 style="display:inline"><%= link_to task.title, task_path(task) %></h3><br>
<% end %>

<%= link_to "Add a Task", tasks_new_path %>
